<div class='form-container'>
    <% form_url = local_assigns[:signup] ? create_user_path : login_path %>

    <%= form_with(model: @user, url: form_url, class: 'login-form') do |f| %>
      <div class="input-wrapper">
        <%= f.text_field :username %>
        <span class='input-focus' value='Username'/>
      </div>
      <div class="input-wrapper">
        <%= f.password_field :password %>
        <span class='input-focus' value='Password'/>
      </div>
      
      <%# local_assigns[:confirmation] && f.password_field :password_confirmation %>
      <% if local_assigns[:signup] %>
        <div class="input-wrapper">
          <%= f.password_field :password_confirmation %>
          <span class='input-focus' value='Password Confirmation'/>
        </div>
      <% end%>

      <%= f.submit class: 'button',value: local_assigns[:signup] ? 'Signup' : 'Login' %>
    <% end %>

    <% flash[:errors] && flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
      
  </div>