<%= content_for(:sidebar) do %>
    <ul>
      <li class="<%= "selected" if current_page?(user_profile_info_path) %>"><%= link_to "My Info", user_profile_info_path %></li>
      <li class="<%= "selected" if current_page?(user_profile_boards_path) %>"><%= link_to "My Boards", user_profile_boards_path %></li>
      <li class="<%= "selected" if current_page?(user_profile_stats_path) %>"><%= link_to "My Stats", user_profile_stats_path %></li>
    </ul>
<% end %>

<% case %>
  <% when current_page?(user_profile_info_path) %>
    <%= render "partials/user_info" %>
  <% when current_page?(user_profile_boards_path) %>
    <%= render "partials/user_boards" %>
  <% when current_page?(user_profile_stats_path) %>
    <%= render "partials/user_stats" %>
<% end %>