<%= content_for(:sidebar) do %>
    <ul>
      <li class="<%= "selected" if current_page?(user_profile_path) %>"><%= link_to "My Info", user_profile_path %></li>
      <li class="<%= "selected" if current_page?(root_path) %>"><%= link_to "My Boards", user_profile_path %></li>
      <li class="<%= "selected" if current_page?(root_path) %>"><%= link_to "My Stats", root_path %></li>
    </ul>
<% end %>

<% # <% byebug %>
<h1><%= @current_user.username %></h1>
