<%= content_for(:sidebar) do %>
    <ul>
      <li class="<%= "selected" if current_page?(profile_info_path(@current_user.username)) %>"><%= link_to "My Info", profile_info_path(@current_user.username) %></li>
      <li class="<%= "selected" if current_page?(profile_boards_path(@current_user.username)) %>"><%= link_to "My Boards", profile_boards_path(@current_user.username) %></li>
      <li class="<%= "selected" if current_page?(profile_stats_path(@current_user.username)) %>"><%= link_to "My Stats", profile_stats_path(@current_user.username) %></li>
    </ul>
<% end %>


<% case %>
  <% when @board.completed %>
    <h1>[COMPLETED BOARD]</h1>
  <% when @board.published %>
    <h1>[PUBLISHED BOARD]</h1>
  <% when @board.owner.id === @current_user.id %>
    <h1>[DRAFT BOARD]</h1>
<% end %>

<%= content_tag :div, id: 'data', data: {board: @board, current_user: @current_user}.to_json do %>
<% end %>

<%= javascript_pack_tag 'show_board/showBoard' %>
