<!DOCTYPE html>
<html>
  <head>
    <title>CtfDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag params[:controller], media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <section class='sidebar-container'>
        side bar
      </section>
    <main class='layout-container'>
      <nav class='nav-container'>
        <div class='nav-right-float' >
          <%= link_to "Home", root_path %>
          <%= link_to "Logout", logout_path %>
        </div>
    </nav>
    <section class='display-container'>
      <%= yield %>
    </section>
    </main>
  </body>
</html>
