<!DOCTYPE html>
<html>
  <head>
    <title>CtfDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user  %>
      <%= link_to 'Logout', root_path %>
      <% else%>
      <%= link_to 'Login', logout_path  %>
      <% end %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
